<div class="row">
  <div class="offset-md-1 col-md-10">
    <h2><%= @item.title %></h2>
    <p><%= @item.description %></p>
  </div>
</div>
<div class="row">
  <div class="offset-md-4 col-md-4">
    <%= link_to 'back', root_path, class:'btn btn-primary' %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-warning' %>
    <%= link_to 'Delete', item_path(@item), method: :delete, data: { cofirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>