<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 jumbotron">
    <h1 class="display-5 fw-bold">HipTime! Free and Easy</h1>
    <p class="col-12 fs-4">Trusted by Millions. Hiptime is the best online Task Management App!</p>
    <%= link_to 'Sign Up Now', new_user_registration_path, class:'btn btn-danger btn-lg' %>
  </div>
</div>